@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp {
  --rdp-cell-size: 32px;
  --rdp-accent-color: #3b82f6;
  --rdp-background-color: #e5e7eb;
  margin: 0;
}

.dark .rdp {
  --rdp-accent-color: #60a5fa;
  --rdp-background-color: #374151;
}

.rdp-day_selected, 
.rdp-day_selected:focus-visible, 
.rdp-day_selected:hover {
  background-color: var(--rdp-accent-color);
  color: white;
}